body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1em;
  color: #40514E;
}

h1 {
  color: #66BFBF;
  font-size: 75px;
  margin-top: 50px 0 50px 0;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}

h2 {
  font-weight: normal;
  color: #66BFBF;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

a {
  background-color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

.intro {
  width: 33%;
  margin: auto;
}
.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: relative;
  left: 230px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px ;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.computer {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli {
  width: 25%;
  float: right;
  margin-right: 30px;
}

.ccc {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #19999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #19999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #19999e);
  background-image: -o-linear-gradient(top, #11cdd4, #19999e);
  background-image: linear-gradient(to bottom, #11cdd4, #19999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}